# Main settings
baseurl: ''
url: https://womanonrails.com

# Jekyll settings
exclude: ['.keep', '.ruby-gemset', '.ruby-version', '.sass-cache', '_drafts', '_pages', '_templates', 'Gemfile', 'Gemfile.lock', 'Rakefile', 'README.md']
highlighter: rouge
kramdown:
  input: GFM
  auto_ids: true
  syntax_highlighter: rouge
lang: &lang en
locale: *lang
markdown: kramdown
permalink: /:title


# Plugins settings
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-multiple-languages-plugin
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

# Author settings
author: &author womanonrails
logo: womanonrails-square.svg
title: &title Woman on Rails


owner:
  name: Agnieszka Małaszkiewicz
  avatar: womanonrails-square.svg
  email: please-do-not-spam-me@womanonrails.com
  description: 'Woman, programmer, mentor, speaker, photographer and dancer with passion.'
  twitter: *author
  facebook: *author
  github: *author
  linkedin: *author
  instagram: *author
  stackoverflow: https://stackoverflow.com/users/2885676/womanonrails

affiliate_links:
  amazon: womanonrails-21
  helion: 10301k

disqus_shortname: womanonrails
# Assign a default image for your site's header and footer
default_bg:
search:           true
# Turn on or off the fin animations in the header and footer
triangleheader:   true
animated_fins:    true
# Specify the fin color in RGB value
fin_color:        "255,255,255"

meta:
  image: womanonrails-1000x1000.jpg

# Analytics and webmaster tools stuff goes here
google_analytics: UA-127731573-1
google_verify:
# https://ssl.bing.com/webmaster/configure/verify/ownership Option 2 content= goes here
bing_verify:

# Links to include in footer navigation
# For external links add external: true
links:
  - title: Home
    url: /
    external: false
    icon: home
  - title: Programming courses
    url: /workshops
  - title: Categories
    url: /categories
  - title: Tags
    url: /tags
  - title: About
    url: /about

links_pl:
  - title: Strona główna
    url: /pl
    external: false
    icon: home
  - title: Kursy programowania
    url: /workshops
  - title: Kategorie
    url: /pl/categories
  - title: Tagi
    url: /pl/tags
  - title: O mnie
    url: /pl/about


# Layout settings
read_time: true
words_per_minute: 200
show_date: false

defaults:
  # _pages
  - scope:
      path: ''
      type: pages
    values:
      comments: true
      read_time: false
  # _posts
  - scope:
      path: ''
      type: posts
    values:
      comments: true
      read_time: true
      related: true
      share: true

feed:
  excerpt_only: true

compress_html:
  blanklines: false
  clippings: all
  comments: all
  ignore:
    envs: development
  # endings: all
  # profile: true
  # startings: all

sass:
  style: :compressed

# http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone:    America/New_York
paginate:    6
paginate_path: "page:num"

applause: true

# Polyglot settings
default_lang: en
exclude_from_localizations: ['css', 'images', 'javascript']
languages: ['en', 'pl']
parallel_localization: true

locales:
  en:
    meta:
      description: Ruby on Rails programmer fascinated by design patterns, building good application architecture, code refactoring and connecting web development with remote work and travels.
      title: Woman on Rails - web development from woman perspective
    pagination:
      newer_posts: Newer Posts
      of: of
      older_posts: Older Posts
      page: Page
    read_more: read more...
    search: Search
  pl:
    meta:
      description: Programistka Ruby on Rails zafascynowana wzorcami projektowymi, budowaniem dobrej architektury aplikacji, refaktoringiem kodu i łącząca pracę zdalną z podróżowaniem.
      title: Woman on Rails - web development z kobiecej perspektywy
    pagination:
      newer_posts: Nowsze posty
      of: z
      older_posts: Starsze posty
      page: Strona
    read_more: czytaj więcej...
    search: Wyszukaj
