---
layout: home
---
{% for post in paginator.posts %}
{% assign post_url = post.url | absolute_url %}
{% assign categories = post.categories | categories_filter %}
<div class='row'>
  <article class='post col-md-8 col-md-offset-2'>
    <header class='post-header'>
    {% if post.type == 'quote' %}
                      <h2 class="post-title text-center super lighter {{post.type}}">
                        <a href="{{ post_url }}">
                          {{ post.excerpt | strip_html }}
                        </a>
                      </h2>
                      <p class="light small text-center">
                        Share this Quote
                      </p>
                      <ul class="social-mini text-center">
                        <li>
                          {% include links/share/share-on-twitter.html title=post.title url=post_url %}
                        </li>
                        <li>
                          {% include links/share/share-on-facebook.html url=post_url %}
                        </li>
                      </ul>
                  <div class="post-body bordered-bottom text-center">
                    <a href="{{ post_url }}"
                       data-toggle="tooltip"
                       title="{{ post.description }}"
                       class="more-link btn btn-danger btn-large">
                      {% t read_more %}
                    </a>
                  </div>
    </header>
    {% endif %}
    {% if post.type == 'status' %}
                      <h2 class="post-title text-center super lighter {{post.type}}">
                        <a href="{{ post_url }}">
                          "{{ post.excerpt | strip_html }}"
                        </a>
                      </h2>
                      <p class="light small text-center">
                        Share this Status
                      </p>
                      <ul class="social-mini text-center">
                        <li>
                          {% include links/share/share-on-twitter.html title=post.title url=post_url %}
                        </li>
                        <li>
                          {% include links/share/share-on-facebook.html url=post_url %}
                        </li>
                      </ul>
                      <div class="post-info text-center small">
                          {% assign modifiedtime = post.modified | date: "%Y%m%d" %}
                          {% assign posttime = post.date | date: "%Y%m%d" %}
                          Status posted @ <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
                          in <span class="post-tags">{% for tag in categories %}<a href="{{ site.url }}/categories/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>&nbsp;<span class="post-tags">by {{ site.owner.name }}</span>
                          <div class="post-body bordered-bottom"></div>
                      </div>
    </header>
    {% endif %}
    {% if post.type == 'video' %}
                <h2 class="post-title text-center super lighter bordered-bottom">
                  <a href="{{ post_url }}">
                    {{ post.title }}
                  </a>
                </h2>
                <div class="post-info text-center small">
                  {% include category-link.html %}
                </div>
    </header>
    <div class='post-body bordered-bottom'>
                  {% if post.video_type == 'vimeo' %}
                    {% assign video_embed = post.video | remove:'https://vimeo.com/' %}
                    <p><iframe src="https://player.vimeo.com/video/{{ video_embed }}" width="940" height="529" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
                  {% else %}
                    {% assign video_embed = post.video | remove:'https://www.youtube.com/watch?v=' %}
                    <p><iframe width="940" height="529" src="//www.youtube.com/embed/{{ video_embed }}?theme=light&amp;color=white" frameborder="0" allowfullscreen> </iframe></p>
                  {% endif %}
                  <p class="lead">{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                <div class="text-center">
                  <a href="{{ post_url }}"
                     data-toggle="tooltip"
                     title="{{ post.description }}"
                     class="more-link btn btn-danger btn-large">
                    {% t see_more %}
                  </a>
                </div>
    </div>
    {% endif %}
    {% if post.type == 'photo' %}
                    <figure>
                      <a href="{{ post_url }}">
                      {% if post.photo %}
                        <img alt="{{ post.title }}"
                             itemprop='image'
                             src="{{ site.url }}/images/{{ post.photo }}">
                      {% else %}
                        <img alt="{{ post.title }}"
                             itemprop='image'
                             src="{{ site.url }}/images/{{ post.imagefeature }}">
                      {% endif %}
                      </a>
                    </figure>
                      <h2 class="post-title text-center super lighter bordered-bottom">
                        <a href="{{ post_url }}">
                          {{ post.title }}
                        </a>
                      </h2>
                      <div class="post-info text-center small">
                        {% include category-link.html %}
                      </div>
    </header>
    <div class='post-body bordered-bottom'>
                    <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                    <div class="text-center">
                      <a href="{{ post_url }}"
                         data-toggle="tooltip"
                         title="{{ post.description }}"
                         class="more-link btn btn-danger btn-large">
                        {% t read_more %}
                      </a>
                    </div>
    </div>
    {% endif %}
    {% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
                    <h2 class="post-title text-center super lighter bordered-bottom">
                      <a href="{{ post_url }}">
                        {{ post.title }}
                      </a>
                    </h2>
                    <div class="post-info text-center small">
                      {% include category-link.html %}
                    </div>
    </header>
    <div class='post-body bordered-bottom'>
                  {% assign excerptsize = post.excerpt | number_of_words %}
                  {% if excerptsize <= 100 and excerptsize >= 50 %}<p class = "lead">{{ post.excerpt | strip_html }}&hellip;</p>{% else %}
                    <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>{% endif %}
                    <div class="text-center">
                      <a href="{{ post_url }}"
                         data-toggle="tooltip"
                         title="{{ post.description }}"
                         class="more-link btn btn-danger btn-large">
                        {% t read_more %}
                      </a>
                    </div>
    </div>
    {% endif %}
  </article>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
        <div class="row text-center text-caps">
            <div class="col-md-8 col-md-offset-2">
                <nav class="pagination" role="navigation">
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    {% if site.lang == 'en' %}
      <a class="newer-posts" href="/">
        &larr; {% t pagination.newer_posts %}
      </a>
    {% else %}
      <a class="newer-posts" href="/{{ site.lang }}">
        &larr; {% t pagination.newer_posts %}
      </a>
    {% endif %}
  {% else %}
    <a class="newer-posts" href="{{ site.baseurl }}/page{{ paginator.previous_page }}">
      &larr; {% t pagination.newer_posts %}
    </a>
  {% endif %}
{% endif %}
<span class="page-number">
  {% t pagination.page %} {{ paginator.page }} {% t pagination.of %} {{ paginator.total_pages }}
</span>
{% if paginator.next_page %}
  <a class="older-posts" href="{{ site.baseurl }}/page{{ paginator.next_page }}">
    {% t pagination.older_posts %} &rarr;
  </a>
{% endif %}
</nav>
            </div>
        </div>
{% endif %}
