---
layout: home
---
{% if site.paginate %}
  {% for post in paginator.posts %}
      {% if post.type == 'quote' %}
      <div class="row">
              <article class="post col-md-10 col-md-offset-1">
                <header class="post-header">
                      <h2 class="post-title text-center super lighter quote">
                          <a href="{{ site.baseurl }}{{ post.url }}"><i class="icon-quote-left"></i> {{ post.excerpt | strip_html }}</a>
                      </h2>
                      <p class="light small text-center">
                          Share this Quote
                      </p>
                      <ul class="social-mini text-center">
                          <li>
                              <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.baseurl }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
                              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
                                  <i class="icon-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ post.url }}"
                              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
                                  <i class="icon-facebook"></i>
                              </a>
                          </li>
                      </ul>
                  <div class="post-body bordered-bottom text-center">
                      {% if post.description %}
                      <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
                          <i class="icon-link"></i> {% t read_more %}
                      </a>
                      {% else %}
                      <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
                          <i class="icon-link"></i> {% t read_more %}
                      </a>
                      {% endif %}
                  </div>
                  </header>
              </article>
          </div>
          {% endif %}
          {% if post.type == 'status' %}
          <div class="row">
              <article class="post col-md-10 col-md-offset-1">
                 <header class="post-header">
                      <h2 class="post-title text-center super lighter status">
                          <a href="{{ site.baseurl }}{{ post.url }}"><i class="icon-retweet"></i> "{{ post.excerpt | strip_html }}"</a>
                      </h2>
                      <p class="light small text-center">
                          Share this Status
                      </p>
                      <ul class="social-mini text-center">
                          <li>
                              <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.baseurl }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
                              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
                                  <i class="icon-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ post.url }}"
                              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
                                  <i class="icon-facebook"></i>
                              </a>
                          </li>
                      </ul>
                      <div class="post-info text-center small">
                          {% assign categories = post.categories | categories_filter %}
                          {% assign modifiedtime = post.modified | date: "%Y%m%d" %}
                          {% assign posttime = post.date | date: "%Y%m%d" %}
                          Status posted @ <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
                          in <span class="post-tags">{% for tag in categories %}<a href="{{ site.url }}/categories/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>&nbsp;<span class="post-tags">by {{ site.owner.name }}</span>
                          <div class="post-body bordered-bottom"></div>
                      </div>
                  </header>
              </article>
          </div>
          {% endif %}
          {% if post.type == 'video' %}
          <div class="row">
            <article class="post post col-md-8 col-md-offset-2">
              <header class="post-header">
                {% if post.link %}
                  <h2 class="post-title text-center super lighter">
                      <a href="{{ site.baseurl }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-play-circle"></i> {{ post.title }}</a>
                  </h2>
                {% else %}
                  <h2 class="post-title text-center super lighter bordered-bottom">
                    <a href="{{ site.baseurl }}{{ post.url }}"><i class="icon-play-circle"></i> {{ post.title }}</a>
                {% endif %}
                </h2>
                <div class="post-info text-center small">
                  {% include category-link.html %}
                  {% include read-time.html %}
                </div>
              </header>
              <div class="post-body bordered-bottom">
                {% if post.video %}
                  {% if post.video_type == 'vimeo' %}
                    {% assign video_embed = post.video | remove:'https://vimeo.com/' %}
                    <p><iframe src="https://player.vimeo.com/video/{{ video_embed }}" width="940" height="529" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
                  {% else %}
                    {% assign video_embed = post.video | remove:'https://www.youtube.com/watch?v=' %}
                    <p><iframe width="940" height="529" src="//www.youtube.com/embed/{{ video_embed }}?theme=light&amp;color=white" frameborder="0" allowfullscreen> </iframe></p>
                  {% endif %}
                  <p class="lead">{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                {% else %}
                  <p class="lead">{{ post.excerpt }}&hellip;</p>
                {% endif %}
                <div class="text-center">
                  {% if post.description %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
                      <i class="icon-link"></i> {% t see_more %}
                    </a>
                  {% else %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
                      <i class="icon-link"></i> {% t see_more %}
                    </a>
                  {% endif %}
                </div>
              </div>
            </article>
          </div>
          {% endif %}
          {% if post.type == 'photo' %}
          <div class="row">
              <article class="post post col-md-8 col-md-offset-2">
                 <header class="post-header">
                    {% if post.photo %}<figure><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.url }}/images/{{ post.photo }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% else %}<figure><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.url }}/images/{{ post.imagefeature }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% endif %}
                      {% if post.link %}
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.baseurl }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-picture"></i> {{ post.title }}</a>
                      {% else %}
                      <h2 class="post-title text-center super lighter bordered-bottom">
                          <a href="{{ site.baseurl }}{{ post.url }}"><i class="icon-picture"></i> {{ post.title }}</a>
                      {% endif %}
                      </h2>
                      <div class="post-info text-center small">
                        {% include category-link.html %}
                        {% include read-time.html %}
                      </div>
                  </header>
                  <div class="post-body bordered-bottom">
                      <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                      <div class="text-center">
                      {% if post.description %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t read_more %}
                    </a>
                    {% else %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t read_more %}
                    </a>
                    {% endif %}
                    </div>
                  </div>
              </article>
          </div>
          {% endif %}
          {% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
          <div class="row">
              <article class="post post col-md-8 col-md-offset-2">
                 <header class="post-header">
                 {% if post.featured %}<div class="cursive">this post is featured</div>{% endif %}
                      {% if post.link %}
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.baseurl }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-link"></i> {{ post.title }}</a>
                      {% else %}
                      <h2 class="post-title text-center super lighter bordered-bottom">
                          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                      {% endif %}
                      </h2>
                      <div class="post-info text-center small">
                        {% include category-link.html %}
                        {% include read-time.html %}
                      </div>
                  </header>
                  <div class="post-body bordered-bottom">
                  {% assign excerptsize = post.excerpt | number_of_words %}
                  {% if excerptsize <= 100 and excerptsize >= 50 %}<p class = "lead">{{ post.excerpt | strip_html }}&hellip;</p>{% else %}
                      <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>{% endif %}
                      <div class="text-center">
                      {% if post.description %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t read_more %}
                    </a>
                    {% else %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t read_more %}
                    </a>
                    {% endif %}
                    </div>
                  </div>
              </article>
          </div>
      {% endif %}
  {% endfor %}
{% if paginator.total_pages > 1 %}
        <div class="row text-center text-caps">
            <div class="col-md-8 col-md-offset-2">
                <nav class="pagination" role="navigation">
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    {% if site.lang == 'en' %}
      <a class="newer-posts" href="/">
        &larr; {% t pagination.newer_posts %}
      </a>
    {% else %}
      <a class="newer-posts" href="/{{ site.lang }}">
        &larr; {% t pagination.newer_posts %}
      </a>
    {% endif %}
  {% else %}
    <a class="newer-posts" href="{{ site.baseurl }}/page{{ paginator.previous_page }}">
      &larr; {% t pagination.newer_posts %}
    </a>
  {% endif %}
{% endif %}
<span class="page-number">
  {% t pagination.page %} {{ paginator.page }} {% t pagination.of %} {{ paginator.total_pages }}
</span>
{% if paginator.next_page %}
  <a class="older-posts" href="{{ site.baseurl }}/page{{ paginator.next_page }}">
    {% t pagination.older_posts %} &rarr;
  </a>
{% endif %}
</nav>
            </div>
        </div>
{% endif %}
{% else %}
  {% for post in site.posts %}
      {% if post.type == 'quote' %}
      <div class="row">
              <article class="post col-md-10 col-md-offset-1">
                <header class="post-header">
                      <h2 class="post-title text-center super lighter quote">
                          <a href="{{ site.baseurl }}{{ post.url }}"><i class="icon-quote-left"></i> {{ post.excerpt | strip_html }}</a>
                      </h2>
                      <p class="light small text-center">
                          Share this Quote
                      </p>
                      <ul class="social-mini text-center">
                          <li>
                              <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.baseurl }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
                              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
                                  <i class="icon-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ post.url }}"
                              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
                                  <i class="icon-facebook"></i>
                              </a>
                          </li>
                      </ul>
                  <div class="post-body bordered-bottom text-center">
                      {% if post.description %}
                      <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
                          <i class="icon-link"></i> {% t read_more %}
                      </a>
                      {% else %}
                      <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
                          <i class="icon-link"></i> {% t read_more %}
                      </a>
                      {% endif %}
                  </div>
                  </header>
              </article>
          </div>
          {% endif %}
          {% if post.type == 'status' %}
          <div class="row">
              <article class="post col-md-10 col-md-offset-1">
                 <header class="post-header">
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.baseurl }}{{ post.url }}" style="color: #c91b26"><i class="icon-retweet"></i> "{{ post.excerpt | strip_html }}"</a>
                      </h2>
                      <p class="light small text-center">
                          Share this Status
                      </p>
                      <ul class="social-mini text-center">
                          <li>
                              <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.baseurl }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
                              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
                                  <i class="icon-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ post.url }}"
                              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
                                  <i class="icon-facebook"></i>
                              </a>
                          </li>
                      </ul>
                      <div class="post-info text-center small">
                          {% assign modifiedtime = post.modified | date: "%Y%m%d" %}
                          {% assign posttime = post.date | date: "%Y%m%d" %}
                          Status posted @ <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
                          in <span class="post-tags">{% for tag in categories %}<a href="{{ site.url }}/categories/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>&nbsp;<span class="post-tags">by {{ site.owner.name }}</span>
                          <div class="post-body bordered-bottom"></div>
                      </div>
                  </header>
              </article>
          </div>
          {% endif %}
          {% if post.type == 'video' %}
          <div class="row">
              <article class="post post col-md-8 col-md-offset-2">
                 <header class="post-header">
                      {% if post.link %}
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.baseurl }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-play-circle"></i> {{ post.title }}</a>
                      {% else %}
                      <h2 class="post-title text-center super lighter bordered-bottom">
                          <a href="{{ site.baseurl }}{{ post.url }}"><i class="icon-play-circle"></i> {{ post.title }}</a>
                      {% endif %}
                      </h2>
                      <div class="post-info text-center small">
                        {% include category-link.html %}
                        {% include read-time.html %}
                      </div>
                  </header>
                  <div class="post-body bordered-bottom">

                  {% if post.video %}
                    {% if post.video_type == 'vimeo' %}
                      {% assign video_embed = post.video | remove:'https://vimeo.com/' %}
                      <p><iframe src="https://player.vimeo.com/video/{{ video_embed }}" width="940" height="529" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
                    {% else %}
                      {% assign video_embed = post.video | remove:'https://www.youtube.com/watch?v=' %}
                      <p><iframe width="940" height="529" src="//www.youtube.com/embed/{{ video_embed }}?theme=light&amp;color=white" frameborder="0" allowfullscreen> </iframe></p>
                    {% endif %}
                    <p class="lead">{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                    {% else %}
                  <p class="lead">{{ post.excerpt }}&hellip;</p>
                  {% endif %}
                  <div class="text-center">
                      {% if post.description %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t see_more %}
                    </a>
                    {% else %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t see_more %}
                    </a>
                    {% endif %}
                </div>
                  </div>
              </article>
          </div>
          {% endif %}
          {% if post.type == 'photo' %}
          <div class="row">
              <article class="post post col-md-8 col-md-offset-2">
                 <header class="post-header">
                    {% if post.photo %}<figure><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl_root }}/images/{{ post.photo }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% else %}<figure><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl_root }}/images/{{ post.imagefeature }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% endif %}
                      {% if post.link %}
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.baseurl }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-picture"></i> {{ post.title }}</a>
                      {% else %}
                      <h2 class="post-title text-center super lighter bordered-bottom">
                          <a href="{{ site.baseurl }}{{ post.url }}"><i class="icon-picture"></i> {{ post.title }}</a>
                      {% endif %}
                      </h2>
                      <div class="post-info text-center small">
                        {% include category-link.html %}
                        {% include read-time.html %}
                      </div>
                  </header>
                  <div class="post-body bordered-bottom">
                      <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                      <div class="text-center">
                      {% if post.description %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t read_more %}
                    </a>
                    {% else %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t read_more %}
                    </a>
                    {% endif %}
                    </div>
                  </div>
              </article>
          </div>
          {% endif %}
          {% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
          <div class="row">
              <article class="post post col-md-8 col-md-offset-2">
                 <header class="post-header">
                 {% if post.featured %}<div class="cursive">this post is featured</div>{% endif %}
                      {% if post.link %}
                      <h2 class="post-title text-center super lighter">
                          <a href="{{ site.baseurl }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-link"></i> {{ post.title }}</a>
                      {% else %}
                      <h2 class="post-title text-center super lighter bordered-bottom">
                          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                      {% endif %}
                      </h2>
                      <div class="post-info text-center small">
                        {% include category-link.html %}
                        {% include read-time.html %}
                      </div>
                  </header>
                  <div class="post-body bordered-bottom">
                  {% assign excerptsize = post.excerpt | number_of_words %}
                  {% if excerptsize <= 100 and excerptsize >= 50 %}<p class = "lead">{{ post.excerpt | strip_html }}&hellip;</p>{% else %}
                      <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>{% endif %}
                      <div class="text-center">
                      {% if post.description %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t read_more %}
                    </a>
                    {% else %}
                    <a href="{{ site.baseurl }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
                        <i class="icon-link"></i> {% t read_more %}
                    </a>
                    {% endif %}
                    </div>
                  </div>
              </article>
          </div>
      {% endif %}
  {% endfor %}
{% endif %}
