<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top">

    <div class="inner">
        <div class="container">
          <ul class="social-icons">
            {% include icons/icon-in-footer--twitter.html %}
            {% include icons/icon-in-footer--facebook.html %}
            {% include icons/icon-in-footer--stackoverflow.html %}
            {% include icons/icon-in-footer--linkedin.html %}
            {% include icons/icon-in-footer--instagram.html %}
            {% include icons/icon-in-footer--github.html %}
          </ul>
        <div>
              <a href="{% translate_link about %}">{{ site.owner.name }}</a>
              &copy; {{ site.time | date: '%Y' }}
              &bull; All rights reserved.
            </div>
            <ul class="menu-items">
            {% for link in site.links %}
            <li>
                {% if link.external %}
                    <a href="{{ link.url }}">{% if link.icon %}<i class="icon-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}</a>&nbsp;&bull;
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{% if link.icon %}<i class="icon-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}</a>&nbsp;&bull;
                {% endif %}
            </li>
            {% endfor %}
            <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
        </ul>
        </div>
    </div>
    {% if site.animated_fins and site.triangleheader %}
        <div class="decor-wrapper">
            <svg id="footer-decor" class="decor top" xmlns="https://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">

                <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba({{ site.fin_color }}, .1)"></path>
                <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba({{ site.fin_color }}, .1)"></path>

                <path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba({{ site.fin_color }}, .3)"></path>
                <path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba({{ site.fin_color }}, .3)"></path>

                <path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba({{ site.fin_color }}, .5)"></path>
                <path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba({{ site.fin_color }}, .5)"></path>

                <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>

                <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>

            </svg>
        </div>
    {% else %}
    {% if site.triangleheader %}
        <div class="decor-wrapper">
            <svg id="footer-decor" class="decor top" xmlns="https://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>

                <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>

            </svg>
        </div>
    {% endif %}
    {% endif %}
</footer>
