{% assign meta = site.locales[page.lang].meta %}
{% capture title %}{% if page.title %}{{ page.title }} - {% endif %}{{ meta.title }}{% endcapture %}

{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = meta.description %}
{% endif %}

{% if page.imagefeature %}
  {% assign og_image_name = page.imagefeature %}
  {% assign twitter_card = 'summary_large_image' %}
  {% assign twitter_image_name = page.imagefeature %}
{% else %}
  {% assign og_image_name = site.meta.image %}
  {% assign twitter_card = 'summary' %}
  {% assign twitter_image_name = site.logo %}
{% endif %}

{% capture og_image %}{{ site.url }}/images/{{ og_image_name }}{% endcapture %}
{% capture twitter_image %}{{ site.url }}/images/{{ twitter_image_name }}{% endcapture %}

<meta charset='utf-8'>
<title>{{ title }}</title>
<meta name='description' content='{{ description }}'>

{% if site.owner.twitter %}<!-- Twitter Cards -->
<meta name='twitter:card' content='{{ twitter_card }}'>
<meta name='twitter:creator' content='@{{ site.owner.twitter }}'>
<meta name='twitter:description' content='{{ description }}'>
<meta name='twitter:image' content='{{ twitter_image }}'>
<meta name='twitter:title' content='{{ title }}'>
{% endif %}

<!-- Open Graph -->
<meta property='og:description' content='{{ description }}'>
<meta property='og:image' content='{{ og_image }}'>
<meta property='og:title' content='{{ title }}'>
<meta property='og:type' content='website'>

<link rel='shortcut icon' href="{{ site.url }}/favicon.ico">
<link rel='shortcut icon' href="{{ site.url }}/favicon.png">

{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% seo title=false %}

<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css" />
<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl_root }}">

{% if site.search %}
<div class="search-wrapper">
  <div class="search-form">
    <input type="text" class="search-field" placeholder="Search...">
    <span class='js-remove-sign'>
    {% include icons/icon-svg.html icon='cancel' %}
    </span>
    <ul class="search-results post-list"></ul><!-- /.search-results -->
  </div><!-- /.search-form -->
</div><!-- ./search-wrapper -->
{% endif %}
