{% if paginator.total_pages > 1 %}
<div class='row text-center text-caps'>
  <div class='col-md-8 col-md-offset-2'>
    <nav class='pagination'
         role='navigation'>
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    {% if site.lang == 'en' %}
      {% assign previous_page_url = '/' %}
    {% else %}
      {% assign previous_page_url = '/pl/' %}
    {% endif %}
  {% else %}
    {% capture previous_page_url %}{{ site.baseurl }}/page{{ paginator.previous_page }}{% endcapture %}
  {% endif %}
  <a class='newer-posts'
     href='{{ previous_page_url }}'>
    &larr;
    {% t pagination.newer_posts %}
  </a>
{% endif %}

<span class='page-number'>
  {% t pagination.page %}
  {{ paginator.page }}
  {% t pagination.of %}
  {{ paginator.total_pages }}
</span>

{% if paginator.next_page %}
  <a class='older-posts'
     href='{{ site.baseurl }}/page{{ paginator.next_page }}'>
    {% t pagination.older_posts %}
    &rarr;
  </a>
{% endif %}
    </nav>
  </div>
</div>
{% endif %}
