{% if paginator.total_pages > 1 %}
{% assign left_arrows_from = paginator.first_page | plus: site.pagination.trail.before %}
{% assign right_arrows_to = paginator.last_page | minus: site.pagination.trail.after %}
<div class='row'>
  <div class='col-md-5 col-md-offset-4'>
    <nav aria-label='Page navigation'
         role='navigation'>
      <ul class='pagination pagination-lg justify-content-center'>
      {% if paginator.page >= left_arrows_from && paginator.previous_page %}
        <li class='page-item first'>
          <a aria-label='First'
            class='page-link'
            href='{{ paginator.first_page_path | prepend: site.baseurl }}'>
            <span aria-hidden='true'>
              &laquo;
            </span>
          </a>
        </li>
        <li class='page-item previous'>
          <a aria-label='Previous'
            class='page-link'
            href='{{ paginator.previous_page_path | prepend: site.baseurl }}'>
            <span aria-hidden='true'>
              &lsaquo;
            </span>
          </a>
        </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li class='page-item {% if page.url == trail.path %}selected{% endif %}'>
            <a class='page-link'
              href='{{ trail.path | prepend: site.baseurl | remove: "index.html" }}'
              title='{{ trail.title }}'>
              <span>
              {{ trail.num }}
              </span>
            </a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.page <= right_arrows_to && paginator.next_page %}
        <li class='page-item next'>
          <a aria-label='Next'
            class='page-link'
            href='{{ paginator.next_page_path | prepend: site.baseurl }}'>
            <span aria-hidden='true'>
              &rsaquo;
            </span>
          </a>
        </li>
        <li class='page-item last'>
          <a aria-label='Last'
            class='page-link'
            href='{{ paginator.last_page_path | prepend: site.baseurl }}'>
            <span aria-hidden='true'>
              &raquo;
            </span>
          </a>
        </li>
      {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}
