@import url(https://fonts.googleapis.com/css?family=Lato:300&subset=latin-ext,latin);

$background-grey: #262626;
$dark-red: #d2322d;
$grey: #ddd;
$link-grey: #67666a;
$link-light-grey: #807f83;
$text-white: #fff;

body {
  font-family: serif;

  .btn, button {
    font-family: serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

article p {
  text-align: justify;
}

.lead {
  line-height: 1.7em;
}

ol li .lead {
  font-size: 18px;
}

.brand img {
  border-radius: 50%;
}

@media (max-width: 480px) {
  .brand img {
    max-height: 90px;
    max-width: 90px;
  }
}

.cursive {
  color: #000;
  font-family: 'Sacramento', cursive;
  font-size: 34px;
  font-style: italic;
  text-align: center;
}

a#slide:hover,
a.language:hover,
blockquote:before,
button.menu-button:hover {
  background-color: $dark-red;
}

pre {
  border-width: 0;
}

.post-title {
  a:visited, a:focus {
    text-decoration: none;
    color: $link-grey;
  }
}

.social-icons {
  a:visited, a:focus {
    text-decoration: none;
  }
}

blockquote p.lead {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

#navigation ul {
  padding-left: 0;
}

a#slide {
  cursor: pointer;
  &:after {
    content: "M";
  }
}

a.language {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  text-transform: uppercase;
  padding-top: 5px;
  background-color: $background-grey;
  color: $text-white;
  border-radius: 4px;
}

button.menu-button {
  right: 60px;
}

// this is only used in one article
.table.refactoring-step-by-step {
  tr:last-child {
    border-bottom: 1px solid $grey;
  }

  tbody {
    border-left: 1px solid $grey;
  }

  td:nth-child(even) {
    border-right: 1px solid $grey;
  }

  .red-text {
    color: $dark-red;
  }
}

.red-text {
  color: $dark-red;
}

.social-icons {
  min-height: 148px;

  li {
    padding-top: 32px;
    vertical-align: middle;

    svg {
      fill: #fff;
      height: 72px;
      transform: scale(0.64);
    }

    .svg--github svg {
      transform: scale(1.0);
    }
  }
}

.social-mini {
  margin-top: 10px;
  padding-bottom: 0;

  li {
    margin: 0 6px;
    padding-left: 0;
    vertical-align: bottom;
    width: 16px;

    svg {
      display: block;
      fill: $link-light-grey;
      height: 16px;
    }
  }
}

.svg--cancel svg {
  fill: #fff;
  height: 16px;

  .js-remove-sign & {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 1rem;
    text-align: center;
    top: .6rem;
    width: 16px;
    z-index: 1;
  }
}

.svg--home {
  vertical-align: middle;

  svg {
    display: inline;
    fill: #fff;
    height: 20px;
  }
}

.svg--link svg {
  fill: #fff;
  height: 18px;
}

.svg--rss svg {
  height: 16px;

  #footer &,
  #navigation a:hover & {
    fill: #fff;
  }

  #navigation a & {
    fill: #b3b3b1;
  }
}

.svg--search svg {
  stroke: #fff;
  transform: scale(0.5);
}

.svg--tags {
  vertical-align: middle;

  svg {
    height: 16px;
    fill: #424143;
  }
}

.applause {
  display: inline-block;
  position: sticky;
  right: 90%;
  top: 60px;
  width: 60px;

  .count-container {
    display: block;
    height: 82px;
    position: relative;
    top: 0;
    width: 64px;
  }

  .count {
    bottom: 0;
    color: #807f83;
    font-family: sans-serif;
    padding: 0 3px;
    position: absolute;
    right: 0;
  }
}

.pagination {
  .selected a {
    background-color: $dark-red;
    border-color: $dark-red;
    color: $text-white;
  }
}
