---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
<!--
====================================================
    __  ____  ______________  _______ ___    __
   / / / /  |/  / ____/   \ \/ / ___//   |  / /
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/

====================================================
Owner Name: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.1
Description: Awesome dude, awesome life
====================================================
-->
<head>
{% include head.html %}
</head>
<body class="post-template" itemscope itemtype="https://schema.org/WebPage">
{% include header.html %}
<div class='content'
     id='main'
     itemprop='mainContentOfPage'
     itemscope
     itemtype='https://schema.org/WebPageElement'
     role='main'>
  <div class='container'>
    <div class='row'>
      {% include applause.html %}
      <article class='post col-md-8 col-md-offset-2 hentry'
               itemprop='blogPost'
               itemscope
               itemtype='https://schema.org/BlogPosting'>
        {% assign categories = page.categories | categories_filter %}
        <header class='post-header entry-header'>
          <h1 class='post-title text-center hyper lighter bordered-bottom entry-title'
              itemprop='headline'>
            {{ page.title }}
          </h1>
          <div class='cursive'>{{ page.description }}</div>
          <div class='post-info text-center small'>
            {% assign show_date = site.show_date %}
            {% unless page.show_date == nil or page.show_date == empty %}
            {% assign show_date = page.show_date %}
            {% endunless %}
            {% if show_date %}
            <span class='entry-date date published'>
              <time class='post-time'
                    datetime="{{ page.date | date_to_xmlschema }}"
                    itemprop='datePublished'>{{ page.date | date: "%d %b %Y" }}</time>
            </span>
            |
            {% endif %}
            {% include category-link.html %}
            |
            {% include read-time.html %}
          </div>
        </header>
        <div class='post-body bordered-bottom'
             itemprop='description'>
          {% include video/autodetect.html url=page.video %}
          {{ content }}
          <br>
          {% if page.tags.size > 0 %}
          <div class='entry-tags text-center'>
            {% include icons/icon-svg.html icon='tags' %}
            Tagged with
            {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/tags/#{{ tag | cgi_encode }}"
                 data-toggle='tooltip'
                 title='Posts tagged with {{ tag }}'
                 rel='tag'>{{ tag }}</a>
              {% unless forloop.last %}&bull;{% endunless %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </article>
    </div>
    <footer class='post-footer entry-meta'>
      {% include share.html %}
      {% include signoff.html %}
      {% if site.disqus_shortname and page.comments == true %}<div id='disqus_thread'></div><!-- /#disqus_thread -->{% endif %}
    </footer>
  </div>
</div>
{% include footer.html %}

{% include scripts.html %}
</body>
</html>
